<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width = device-width,initial-scale=1,shrink-to-fit=no">
	<title>Login Page</title>
</head>

<body>

	<section>

		<div class="container ">
			<div class="row  justify-content-center">
				<div class="col-xl-10 col-lg-12 col-md-9 ">
					<div class="card o-hidden border-0 shadow-lg my-5"
						style="border-radius: 20px; background: #b1d5ca">
						<div class="card-body p-0 ">

							<!-- Nested Row within Card Body -->
							<div class="row">
								<div class="col-lg-6 bg-login-image d-lg-block"></div>

								<div class="col-lg-6">
									<div class="p-5">
										<div class="text-center">
											<img
												src="https://evcharging-partner.powerlogixtech.com/uploads/powerlogix-logo.png"
												style="height: 140px; width: auto" />
											<h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
										</div>

										<form th:action="@{/signin}" method="post">
											<div class="mb-3">
												<label for="username" class="form-label">User Name</label> <input
													type="text" name="username" class="form-control"
													id="username" aria-describedby="emailHelp">
											</div>

											<div class="mb-3">
												<label for="Password" class="form-label">Password</label> <input
													type="password" name="password" class="form-control"
													id="Password">
											</div>

											<div class="mb-3 form-check">
												<input type="checkbox" class="form-check-input"
													id="exampleCheck1"> <label class="form-check-label"
													for="exampleCheck1">Remember me</label>
											</div>

											<button type="submit" class="btn btn-success">Submit</button>

											<div class="mb-3 text-center mt-2">
												<span><i class="fab fa-facebook"></i></span> <span><i
													class="fab fa-google-plus"></i></span>
											</div>

											<div class="mb-3 text-center">
												<a class="forgot" href=""> Forgot Your Password? </a>
											</div>
											<div class="mb-3 text-center">
												<a class="small " th:href="@{/signup}">Create an
													Account!</a>

											</div>
										</form>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>		
		
	</section>

</body>

</html>